


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon color="warning" name="home"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon color="warning" name="search"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon color="warning" name="add"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon color="warning" name="person"></ion-icon>
      <ion-label>Tab 4</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab5">
      <ion-icon color="warning" name="settings-outline"></ion-icon>
      <ion-label>Tab 5</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
