
ion-content{
  --ion-background-color:rgb(235, 132, 35);
}
.zzz{
  --background:rgb(235, 132, 35);
  
}
.sss{
  font-size: 21px;
 
}
ion-button{
  --color:white;

  // --background-color:danger;
  // --ion-backdrop-color:red;
  min-width: 190px;
  // border-radius: 10px !important;
  // border: 2px solid #ffffff;
  // background-color: white;
  // --ion-background-color:red;
    // box-shadow: none !important;
  padding-left: 24px;
  padding-right: 34px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  margin-left: 5px;
  // margin-right: 20px;
}
ion-slides {
  height: 50%;
}
ion-card{
  height: 300px;
}
